@define-color bg-color #{{colors.surface.default.hex_stripped}};
@define-color surface-variant #{{colors.surface_variant.default.hex_stripped}};
@define-color border-color #{{colors.outline.default.hex_stripped}};
@define-color accent-color #{{colors.primary.default.hex_stripped}};
@define-color fg-color #{{colors.on_surface.default.hex_stripped}};
@define-color fg-muted-color #{{colors.on_surface_variant.default.hex_stripped}};

window {
    background: @bg-color;
    border-radius: 10px;
    border-style: none;
    border-width: 1px;
    border: 3px solid @border-color;
}
#box {
    padding: 10px;
}
#active {
    border-bottom: solid 1px;
    border-color: alpha(@accent-color, 0.6);
}
button,
image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: @fg-color;
}
button {
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px;
    color: @fg-color;
    font-size: 12px;
}
button:hover {
    background-color: @surface-variant;
    border-radius: 2px;
}
button:focus {
    box-shadow: none;
}
