* {
    /* `otf-font-awesome` is required to be installed for icons */
    border: none;
    border-radius: 0px;
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    /*
    min-height: 22px;
    margin-left: 2px;
    margin-right: 2px;
    */
}

window#waybar {
    background: transparent;
    border: 3px solid #aecce6;
    border-radius: 5px;
}

#custom-appmenu {
    font-size: 20px;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 3px;
    margin: 3px 3px 3px 3px;
    padding: 1px 25px 1px 10px;
    color: #aecce6;
    background-color: #ff0000;
}

#workspaces button {
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    margin: 0px 3px 0px 3px;
    padding: 0px 10px 0px 10px;
    color: #242639;
    border: 3px solid #aecce6;
}

#workspaces button.active {
    color: #aecce6;
    margin: 0px 3px 0px 3px;
    padding-right: 4px;
    padding-left: 4px;
}

#workspaces button:hover {
    background: transparent;
    color: #242639;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#window {
    margin: 3px 15px 3px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 5px 5px 5px 5px;
    color: white;
    font-size: 16px;
    font-weight: normal;
    opacity: 1;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

window#waybar.empty #window {
    background-color: transparent;
}

#clock {
    font-size: 20px;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 5px;
    margin: 0px 3px 0px 3px;
    padding-right: 3px;
    padding-left: 3px;
    color: #aecce6;
    border: 3px solid #aecce6;
}

#cpu {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 5px;
    margin: 3px 3px 3px 3px;
    color: #2ecc71;
}

#memory {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 5px;
    margin: 3px 3px 3px 3px;
    padding-right: 4px;
    padding-left: 4px;
    color: #9b59b6;
}

#disk {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 5px;
    margin: 3px 3px 3px 3px;
    padding-right: 4px;
    padding-left: 4px;
    color: #964b00;
}

#backlight {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 5px;
    margin: 3px 3px 3px 3px;
    color: #90b1b1;
}

#network {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 5px;
    margin: 3px 3px 3px 3px;
    padding-right: 4px;
    padding-left: 4px;
    color: #2980b9;
}

#network.disconnected {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 5px;
    margin: 3px 3px 3px 3px;
    color: #f53c3c;
}

#pulseaudio {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 5px;
    margin: 3px 3px 3px 3px;
    padding-right: 12px;
    padding-left: 4px;
    color: #f1c40f;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    color: #a37800;
}

#pulseaudio.muted {
    color: #90b1b1;
}

#idle_inhibitor {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 5px;
    margin: 3px 3px 3px 3px;
    padding-right: 4px;
    padding-left: 4px;
    color: #9dcbd7;
}

#idle_inhibitor.activated {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 5px;
    margin: 3px 3px 3px 3px;
    padding-right: 4px;
    padding-left: 4px;
    color: #eb4d4b;
}

#tray {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 5px;
    margin: 3px 3px 3px 3px;
    padding-right: 4px;
    padding-left: 4px;
    color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging,
#battery.plugged {
    color: #ffffff;
    background-color: #26a65b;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

#wireplumber {
    color: #fff0f5;
}

#wireplumber.muted {
    color: #f53c3c;
}

#custom-media {
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    color: #66cc99;
}

#custom-media.custom-vlc {
    color: #ffa000;
}

#temperature {
    color: #f0932b;
}

#temperature.critical {
    color: #eb4d4b;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    color: #cf5700;
}

#privacy-item.audio-in {
    color: #1ca000;
}

#privacy-item.audio-out {
    color: #0069d4;
}
