* {
    /* `otf-font-awesome` is required to be installed for icons */
    border: none;
    border-radius: 0px;
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    /*
    min-height: 22px;
    margin-left: 2px;
    margin-right: 2px;
    */
}

window#waybar {
    background: black;
    border-radius: 25px;
    border: 3px solid red;
}

#custom-appmenu {
    background: red;
    font-size: 20px;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 25px 0px 25px 25px;
    margin: 0px 3px 0px 0px;
    padding: 1px 35px 1px 25px;
    /*
    border: 2px solid white;
    */
    color: white;
}

#custom-appmenu:hover {
    background: orange;
}

#workspaces {
    background: black;
    margin: 4px 18px 4px 1px;
    padding: 0px 2px;
    border-radius: 25px;
}

#workspaces button {
    background: red;
    font-size: 20px;
    margin: 4px 1px 4px 1px;
    padding: 1px 10px 1px 10px;
    border-radius: 25px;
    color: white;
}

#workspaces button.active {
    border: 2px solid white;
    background: red;
}

#workspaces button.active:hover {
    background: orange;
}

#workspaces button:hover {
    border: 2px solid white;
    background: orange;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#window {
    margin: 4px 15px 4px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    font-weight: normal;
    opacity: 1;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#clock {
    background: red;
    font-size: 20px;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 25px;
    margin: 4px 3px 4px 3px;
    padding-right: 3px;
    padding-left: 3px;
    color: white;
}

#clock:hover {
    background: orange;
}

#custom-hardware-wrap {
    background: red;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 25px;
    margin: 4px 3px 4px 3px;
    padding-right: 4px;
    padding-left: 4px;
    color: white;
}

#custom-hardware-wrap:hover {
    background: orange;
}

#cpu {
    background: red;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 25px;
    margin: 4px 3px 4px 3px;
    padding-right: 10px;
    padding-left: 3px;
    color: white;
}

#cpu:hover {
    border: 2px solid white;
    background: orange;
}

#memory {
    background: red;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 25px;
    margin: 4px 3px 4px 3px;
    padding-right: 12px;
    padding-left: 4px;
    color: white;
}

#memory:hover {
    border: 2px solid white;
    background: orange;
}

#disk {
    background: red;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 25px;
    margin: 4px 3px 4px 3px;
    padding-right: 4px;
    padding-left: 4px;
    color: white;
}

#disk:hover {
    border: 2px solid white;
    background: orange;
}

#backlight {
    background: red;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 25px;
    margin: 4px 3px 4px 3px;
    padding-right: 4px;
    padding-left: 4px;
    color: white;
}

#backlight:hover {
    border: 2px solid white;
    background: orange;
}

#network {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 25px;
    margin: 4px 3px 4px 3px;
    padding-right: 4px;
    padding-left: 4px;
    color: white;
    background: red;
}

#network.disconnected {
    box-shadow: none;
    text-shadow: none;
    color: #f53c3c;
}

#network:hover {
    border: 2px solid white;
    background: orange;
}

#pulseaudio {
    background: red;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 25px;
    margin: 4px 3px 4px 3px;
    padding-right: 12px;
    padding-left: 4px;
    color: white;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    border: 2px solid white;
    background: orange;
}

#pulseaudio.muted {
    color: #90b1b1;
}

#custom-hypridle {
    background: red;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 25px;
    margin: 4px 3px 4px 3px;
    padding-right: 12px;
    padding-left: 4px;
    color: white;
}

#custom-hypridle.activated {
    border: 2px solid white;
}

#custom-hypridle:hover {
    border: 2px solid white;
    background: orange;
}

#tray {
    background: red;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 25px;
    margin: 4px 3px 4px 3px;
    padding-right: 4px;
    padding-left: 4px;
    color: white;
}

#tray:hover {
    border: 2px solid white;
    background: orange;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#battery {
    padding: 0px;
    border-radius: 25px;
    margin: 4px 3px 4px 3px;
    padding-right: 8px;
    padding-left: 4px;
    color: white;
    background-color: red;
}

#battery.charging,
#battery.plugged {
    color: white;
    background-color: red;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery:hover {
    background: orange;
}

#power-profiles-daemon {
    background: red;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 25px;
    margin: 4px 3px 4px 3px;
    padding-right: 15px;
    padding-left: 4px;
    color: white;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
}

#power-profiles-daemon:hover {
    border: 2px solid white;
    background: orange;
}

#wireplumber {
    background: red;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 25px;
    margin: 4px 3px 4px 3px;
    padding-right: 15px;
    padding-left: 4px;
    color: white;
}

#wireplumber.muted {
    color: #f53c3c;
}

#wireplumber:hover {
    border: 2px solid white;
    background: orange;
}

#custom-media {
    background: red;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 25px;
    margin: 4px 3px 4px 3px;
    padding-right: 15px;
    padding-left: 4px;
    color: white;
    min-width: 100px;
}

#custom-media.custom-spotify {
    color: #66cc99;
}

#custom-media.custom-vlc {
    color: #ffa000;
}

#custom-media:hover {
    border: 2px solid white;
    background: orange;
}

#temperature {
    background: red;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 25px;
    margin: 8px 3px 8px 3px;
    padding-right: 15px;
    padding-left: 4px;
    color: white;
}

#temperature.critical {
    color: #eb4d4b;
}

#temperature:hover {
    border: 2px solid white;
    background: orange;
}

#language {
    background: red;
    box-shadow: none;
    text-shadow: none;
    border-radius: 25px;
    color: white;
    padding: 0 5px;
    margin: 4px 3px 4px 3px;
    min-width: 16px;
}

#language:hover {
    border: 2px solid white;
    background: orange;
}

#keyboard-state {
    background: red;
    box-shadow: none;
    text-shadow: none;
    border-radius: 25px;
    color: white;
    padding: 0 0px;
    margin: 4px 3px 4px 3px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#keyboard-state:hover {
    border: 2px solid white;
    background: orange;
}

#scratchpad {
    background: red;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 25px;
    margin: 4px 3px 4px 3px;
    padding-right: 15px;
    padding-left: 4px;
    color: white;
}

#scratchpad.empty {
    background-color: black;
}

#scratchpad:hover {
    border: 2px solid white;
    background: orange;
}

#privacy {
    padding: 0;
}

#privacy-item {
    background: red;
    padding: 0 5px;
    box-shadow: none;
    text-shadow: none;
    border-radius: 25px;
    margin: 4px 3px 4px 3px;
    color: white;
}

#privacy-item.screenshare {
    color: #cf5700;
}

#privacy-item.audio-in {
    color: #1ca000;
}

#privacy-item.audio-out {
    color: #0069d4;
}

#privacy-item:hover {
    border: 2px solid white;
    background: orange;
}

#custom-notifications {
    background: red;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 25px;
    margin: 4px 3px 4px 3px;
    padding-right: 12px;
    padding-left: 4px;
    color: white;
}

#custom-notifications:hover {
    border: 2px solid white;
    background: orange;
}

#custom-power {
    background: red;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 0px 25px 25px 0px;
    margin: 0px 0px 0px 0px;
    padding-right: 12px;
    padding-left: 4px;
    color: white;
    /*
    border: 2px solid white;
    */
}

#custom-power:hover {
    background: orange;
}
